@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari&display=swap');

/*===========================================================================
 Home Variables
========================================================================== */
$color-Primary: rgb(218, 165, 32);
$color-Secondary: rgb(170, 169, 173);
$color-tertiary: rgb(0, 0, 0);
$logo: url(src/content/images/Logo.png);

/* ==========================================================================
Main page styles
========================================================================== */

.Row {
    padding: 10px;
}

.Services {
    padding: 25px;
    width: 100%;
    height: Auto;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid $color-Primary;
    border-radius: 30px;
}

.ServicesTitle {
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $color-Primary;
    padding: 25px;
    font-family: 'Great Vibes', cursive;
    font-size: 150px;
    text-align: center;
}

.ServicesText {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: $color-Primary;
    font-family: 'Noto Serif Devanagari', serif;
    font-size: 25px;
}

.ServicesIcons {
    color: $color-Primary;
    font-size: 80px;
}

.ServicesCard {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    border: 2.5px solid $color-Primary;
    color: $color-Primary;
    font-family: 'Noto Serif Devanagari', serif;
    font-size: 25px;
    border-radius: 30px;
}

.ServicesCardTitle {
    justify-content: center;
    align-items: center;
    color: $color-Primary;
    padding: 25px;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    text-align: center;
}

.ServicesCardText {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    color: $color-Primary;
    font-family: 'Noto Serif Devanagari', serif;
    font-size: 25px;
}

.ContactColumn25 {
    width: 25%;
    padding: 15px;
}
